
# this file used by readthedocs.io build system

-e .  # used to locally install the package itself for automated API generation

mkdocs == 1.5.3
mkdocstrings == 0.24.0  # support automated docstrings generation
mkdocstrings-python == 1.7.5  # python handler
mkdocs-gen-files == 0.5.0  # https://github.com/oprypin/mkdocs-gen-files
mkdocs-literate-nav == 0.6.1  # https://github.com/oprypin/mkdocs-literate-nav
mkdocs-section-index == 0.3.8  # https://github.com/oprypin/mkdocs-section-index
mkdocs-material == 9.4.14  # https://github.com/squidfunk/mkdocs-material
